/**
 * Copyright 2026 © IBM Corp.
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  position: relative;
}

.warning {
  position: absolute;
  color: $support-error;
  padding: $spacing-02;
  inset-block-start: rem(-2px);
  inset-inline-end: rem(-2px);
}
