/**
 * Copyright 2026 © IBM Corp.
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  cursor: pointer;
  &:global(.cds--tag.cds--tag--operational) {
    color: $text-primary;
    background-color: $layer-01;
    &:hover {
      background-color: $layer-hover-01;
    }
  }
}
