# S3-compatible storage connection settings
# SeaweedFS (bundled with dev platform): mise run agentstack-server:dev:start
# MinIO (local): docker run -p 9000:9000 -e MINIO_ROOT_USER=admin -e MINIO_ROOT_PASSWORD=password minio/minio server /data

#S3_ENDPOINT=http://localhost:9009
#S3_BUCKET=agentstack
#S3_ACCESS_KEY=agentstack-admin-user
#S3_SECRET_KEY=agentstack-admin-password

S3_ENDPOINT=http://localhost:9000
S3_BUCKET=agentstack
S3_ACCESS_KEY=admin
S3_SECRET_KEY=password

# Agent server settings
HOST=127.0.0.1
PORT=8000
