/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  :global(.cds--data-table) {
    table-layout: fixed;

    th {
      &:nth-child(1),
      &:nth-child(2) {
        inline-size: 35%;
      }
    }

    &:global(.cds--skeleton) {
      tbody td:last-child > span {
        display: none;
      }
    }
  }
}

.agent,
.name {
  @at-root td#{&} {
    overflow-wrap: anywhere;
  }
}

.value {
  @include line-clamp();
  max-inline-size: 0;
}
