/**
 * Copyright 2026 © IBM Corp.
 * SPDX-License-Identifier: Apache-2.0
 */

.body {
  min-block-size: rem(300px);
  display: flex;
  flex-direction: column;
  row-gap: $spacing-05;
}

.toggleBtn {
  padding-inline-end: rem(15px);
}
