############# OPTIONAL #############
# Default: 'http://adk-api.localtest.me:8080'
API_URL=

# All feature flags default to false
FEATURE_FLAGS='{"Connectors":false,"LocalSetup":false,"Providers":false,"Variables":false}'

# Override the default context token generation permissions (JSON string)
CONTEXT_TOKEN_PERMISSIONS='{"grant_global_permissions":{"llm":["*"],"embeddings":["*"]},"grant_context_permissions":{"files":["*"],"vector_stores":["*"],"context_data":["*"]}}'

# Default: 'Kagenti ADK'
APP_NAME=

# Default: 'http://localhost:3000'
NEXT_PUBLIC_BASE_URL=

# Default: ''
NEXT_PUBLIC_BASE_PATH=

# Default true
OIDC_ENABLED=true
OIDC_PROVIDER_NAME=Keycloak
OIDC_PROVIDER_ID=keycloak
OIDC_PROVIDER_CLIENT_ID=adk-ui
OIDC_PROVIDER_CLIENT_SECRET=adk-ui-secret
OIDC_PROVIDER_ISSUER=http://keycloak.localtest.me:8080/realms/adk
# defaults to OIDC_PROVIDER_ISSUER if not set — only needed when internal and public URLs differ (e.g. dev mode)
OIDC_PROVIDER_EXTERNAL_ISSUER=http://keycloak.localtest.me:8080/realms/adk

# Enable auto-login for local dev (default: false)
LOCAL_DEV_AUTO_LOGIN=false

# next-auth random string
NEXTAUTH_SECRET=
NEXTAUTH_URL="http://localhost:3000"
