/**
 * Copyright 2026 © IBM Corp.
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  --row-gap: #{$spacing-07};

  display: flex;
  flex-direction: column;
  row-gap: var(--row-gap);
}

.sessions {
  flex: 1 1 0;
}
